In [115]:
list1= [1,2,3,4,5]
5 not in list1

False

In [2]:
for i in list(range(0,10)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
names = ['A','B','C','D','E']
for rahul in names:
    print(rahul)

A
B
C
D
E

In [9]:
s = 'upgrad'
for i in s:
    print(i)

u
p
g
r
a
d

In [15]:
profit = [324,234,544,211,243]
sales = [5432,3433,1234,3221,4333,2323,23232,232]

In [19]:
for i in range(0,len(profit)):
    print(profit[i]/sales[i])

0.05964653902798233
0.06816195747159919
0.44084278768233387
0.06550760633343682
0.05608123701823217

In [21]:
transaction_history = [50,-20,100,-30,-10]
print('Transaction History')

for i in transaction_history:
    if i>0:
        print('Deposit: ', i)
    else:
        print('Withdraw: ', abs(i))

Transaction History
Deposit:  50
Withdraw:  20
Deposit:  100
Withdraw:  30
Withdraw:  10

In [27]:
account_balance = [1000,2000,-3000,4000,5000,-3000]
total_balance = 0 
for i in account_balance:
    total_balance +=i
print('Total Balance: ', total_balance)

Total Balance:  6000

In [28]:
transaction_history = [50,-20,100,-30,-10]
print('Transaction History')
total_balance = 0
for i in transaction_history:
    if i>0:
        print('Deposit: ', i)
    else:
        print('Withdraw: ', abs(i))
        
for i in transaction_history:
    total_balance = total_balance+i
print('Total Balance: ', total_balance)

Transaction History
Deposit:  50
Withdraw:  20
Deposit:  100
Withdraw:  30
Withdraw:  10
Total Balance:  90

In [31]:
account_balance = [1000,2000,3000,4000,2000,3000]
interest_rate = 0.08

for i in range(len(account_balance)):
    interest = account_balance[i]*interest_rate
    account_balance[i]+=interest
print('Updated account balance: ', account_balance)

Updated account balance:  [1080.0, 2160.0, 3240.0, 4320.0, 2160.0, 3240.0]

In [37]:
account_numbers = [123456,789012,345678,901234]
account_to_close = int(input('Enter the account to close: '))

for i in account_numbers:
    if i == account_to_close:
        print('closing the account: ', i)
        account_numbers.remove(i)
        break
    else:
        print('Account not found')
        
print('Remaining accounts: ', account_numbers)

Enter the account to close: 901234
Account not found
Account not found
Account not found
closing the account:  901234
Remaining accounts:  [123456, 789012, 345678]

In [41]:
account_numbers = [123456,789012,345678,901234]
account_to_close = int(input('Enter the account to close: '))

for i in account_numbers:
    if i == account_to_close:
        print('closing the account: ', i)
        account_numbers.remove(i)
        break
if account_to_close not in account_numbers:
    print('Account not found')
        
print('Remaining accounts: ', account_numbers)

Enter the account to close: 901234
closing the account:  901234
Account not found
Remaining accounts:  [123456, 789012, 345678]

In [42]:
account_transactions = [{"date":"2023-07-01", "type":"Deposit", "amount":100},
                        {"date":"2023-07-02", "type":"Withdraw", "amount":50},
                        {"date":"2023-07-03", "type":"Withdraw", "amount":50},
                       {"date":"2023-07-04", "type":"Deposit", "amount":100}]

In [47]:
for i in account_transactions:
    print(i['date'], "-", i['type'], "-", i['amount'])

2023-07-01 - Deposit - 100
2023-07-02 - Withdraw - 50
2023-07-03 - Withdraw - 50
2023-07-04 - Deposit - 100

In [50]:
transcation_date = ['2023-07-01','2023-07-02','2023-07-03','2023-07-04']
transaction_type = ['Deposit','Withdraw','Deposit','Withdraw']
transaction_amount = [100,50,50,100]

for (td,tt,ta) in zip(transcation_date,transaction_type,transaction_amount):
    print(td,'-',tt,'-',ta)

2023-07-01 - Deposit - 100
2023-07-02 - Withdraw - 50
2023-07-03 - Deposit - 50
2023-07-04 - Withdraw - 100

In [53]:
print(transcation_date)
print(transaction_type)
print(transaction_amount)

['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04']
['Deposit', 'Withdraw', 'Deposit', 'Withdraw']
[100, 50, 50, 100]

**While Loop**

In [55]:
#while 1==1:
#    print('hi')

In [56]:
while 1==2:
    print('hi')

In [58]:
counpouns = 5
utilized = 0
while utilized<counpouns:
    print('Total coupouns left are: ', counpouns-utilized)
    utilized=utilized+1
print('No coupouns left')

Total coupouns left are:  5
Total coupouns left are:  4
Total coupouns left are:  3
Total coupouns left are:  2
Total coupouns left are:  1
No coupouns left

In [ ]:
5! = 5*4*3*2*1 = 120

In [63]:
number = int(input("Enter the number: "))
if number<0:
    print('There is no factorial of the negative number')
else:
    result = 1
    while number>0:
        result = result*number
        number= number-1
    print(result)

Enter the number: -5
There is no factorial of the negative number

In [65]:
correct_pin = 1234
max_attempts = 3
attempts = 0 

while attempts<max_attempts:
    pin = int(input('Enter the pin: '))
    if pin == correct_pin:
        print('Pin accepted, access granted')
        break
        
    else:
        attempts=attempts+1
        print('Incorrect pin, attempts remaining: ', max_attempts-attempts)
        
if attempts==max_attempts:
    print("Your account is blocked")

Enter the pin: 111
Incorrect pin, attempts remaining:  2
Enter the pin: 1234
Pin accepted, access granted

In [110]:
import random
existing_account_number = [1,3,6,9]
new_account_number = random.randint(1,9)

while new_account_number in existing_account_number:
    new_account_number = random.randint(1,9)
    
print("Account created successfully: ", new_account_number)

Account created successfully:  7

In [102]:
random.randint(1,9)

6

In [114]:
investing = 200000
interest_rate = 0.03
months = 120
inital = 1

while inital<=months:
    interest = investing*interest_rate
    investing+=interest
    inital+=1
    
print("The total amount after 1 year would be: ", investing)

The total amount after 1 year would be:  6942197.427120268